*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.home{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container{
  height: 100vh;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
}

.container:last-child{
  background-color: #000;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  position: relative;
  font-size: 1.4em;
  color: #111;
  font-weight: bold;
  letter-spacing: .18em;
}

.menu_nav{
  display: flex;
}

.menu_nav li{
  padding-left: 20px;
}

.menu_nav li a{
  font-weight: 500;
  color: #bdbdbd;
  letter-spacing: .1;
}

.menu_nav li a:hover, .menu_nav li i:hover, span{
  color: #111;
}

.menu_nav li i{
  color: #bdbdbd;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.register h2{
  font-size: 3.25em;
  color: #111;
  padding-bottom: 10px;
}

.register p{
  font-size: 1.1em;
  color: #777;
}

.group{
  display: flex;
}

.group a:last-child{
  margin-left: 10px;
}

.btn{
  display: inline-block;
  color: #111;
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 20px;
  border: 2px solid #111;
  padding: 10px 30px;
  letter-spacing: .1em;
  transition: 0.5s;
}

.btn:hover{
  background-color: #111;
  color: #fff;
  letter-spacing: .12em;
}

.images{
  overflow-y: hidden;
}

.images img{
 height: 100vh;
 width: 100%;
}

table .btn{
  display: inline-block;
  color: #111;
  font-weight: 700;
  font-size: 1em;
  margin-top: 20px;
  border: 2px solid #111;
  padding: 5px 5px;
  letter-spacing: .1em;
  transition: 0.5s;
}

@media (max-width: 771px){
  .home{
    display: grid;
    grid-template-columns: 1fr 0.75fr;
  }
  .menu{
    display: flex;
    flex-direction: column;
  }
  .menu_nav li{
    padding-top: 15px;
  }
}

@media (max-width: 563px){
  .home{
    display: grid;
    grid-template-columns: 1fr 0fr;
  }
}